@font-face {
    font-family: "FranxurterTotallyMedium";
    src: url(../fonts/FranxurterTotallyMedium-gxwjp.ttf);
}

body {
    background-color: lightcyan;
    background-image: url(../images/gradient-pastel-sky-background.jpg);
    width: 100vw;
    height: 100vh;
    font-family: "FranxurterTotallyMedium";
    font-size: 30px;
}

#board {
    height: 100%;
    width: 100%;
    /*If I want to resize the board
    height: 80%;
    width: 80%;
    overflow: hidden;
    background: lightblue;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 10px solid rgb(252, 240, 242);
    border-radius: 5px;*/
}

#player {
    background: url(../images/cone.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.scoop {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

#score {
    margin: 50px;
    position: absolute;
    color: rgb(36, 36, 36);
}